<section class="formacion-academica celeste">
	<h2>Education</h2>
	<div class="contenedor-formacion">
		<div class="formacion">
			<img src="assets/comercio.jpg" class="img-fluid" alt="imagen-educacion">
			<h4>Analista de Sistemas</h4>
			<p> descripcion Lorem ipsum dolor
				 sit amet consectetur adipisicing elit.
				  Fugiat amet, harum dignissimos molestias vel ipsam 
				  fuga quod laborum perferendis asperiores. Illum rerum
				   accusamus accusantium reiciendis voluptates est ab nam in.
			</p>
		</div>

		<div class="formacion formacion-medio">
			<img src="assets/inti.png" class="img-fluid" alt="imagen-educacion">
			<h4>DesarrolloFull Stack</h4>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rem libero odit, placeat perferendis illum debitis iure quod ipsa animi aperiam temporibus mollitia amet reiciendis accusantium inventore nihil commodi tempora./p>
		</div>

		<div class="formacion">
			<img src="assets/alura.jfif" class="img-fluid" alt="imagen-educacion">
			<h4>Java Developer</h4>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic enim, necessitatibus eaque quas molestias quo fugiat incidunt alias ad sit consequatur ex nulla officiis dignissimos? Excepturi, sequi fuga. Doloremque, ex.</p>
		</div>
	</div>
</section>
