h2{
    text-align: center;
  font-size: clamp(0px, 6vw, 100px);
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: 10x auto 10px auto;
  color: rgb(124, 132, 136);
    }

.contenedor-formacion {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor-formacion img {
	padding: 15px;
	background-color: rgb(51, 54, 57);
    margin: 30px 0px;
    height: 259px;
    width: 290px;
    border-radius: 10px;
}

.formacion {
	width: 30%;
}

.formacion h4{
	margin: 10px 0px;
    color: #FF6900;
}


/* MEDIAQUERIES */

@media (min-width: 600px) and (max-width: 799px) {
    .formacion {
      width: 49%;
    }
  }



@media screen and (max-width:600px) {
    
    .formacion{
        width: 90%;
        margin: 5px auto;
    }
    .contenedor-formacion img{
        padding: 20px;
        width: 100%;
    }
} 