<section class="formacion-academica celeste">
	<h2>Education</h2>
	<div class="contenedor-formacion">
		<div class="formacion">
			<img src="" alt="imagen-educacion">
			<h4>Análisis de datos</h4>
			<p>2018 - UFRP</p>
		</div>

		<div class="formacion formacion-medio">
			<img src="" alt="imagen-educacion">
			<h4>Formación en UX Design</h4>
			<p>2019 - Alura</p>
		</div>

		<div class="formacion">
			<img src="" alt="imagen-educacion">
			<h4>Posgrado en design</h4>
			<p>En curso - UFRJ</p>
		</div>
	</div>
</section>
