h2{
    text-align: center;
    font-size: clamp(0px, 8vw, 150px); 
    margin: 40px 0px;
    font-family: "DM Sans", sans-serif;
     font-style: normal; 
     font-weight: 600;
    }

.contenedor-formacion {
	display: flex;
	justify-content: space-around;
	margin: 30px 0px;
}

.contenedor-formacion img {
	padding: 10vh 3vw;
	background-color: rgb(51, 54, 57);
}

.formacion {
	width: 30%;
}

.formacion h4{
	margin: 10px 0px;
}