
 <h1>Java Developer</h1>
    <div class="container">
      <div *ngIf="loading">
        Loading...
      </div>
    <div class="box1 box" [routerLink]="['/about']">
      <h4>Hey,I'm Diego 👋</h4>
       <span class="hover2">"Programming is a game of logic and creativity"</span>
       <span class="hover-text">Learn<br> More <br>About Me  <i class="fas fa-arrow-right"></i>
       </span>
    </div>
    <div class="box2 box" [routerLink]="['/education']">
      <i class="fas fa-folder"></i>
      <p class="hover2">Education</p>
      <p class="hover-text">View<br>All My<br>Education</p>
    </div>
    <div class="box3 box" [routerLink]="['/skills']">
      <i class="fas fa-folder"></i>
      <p class="hover2">Skills</p>
      <p class="hover-text">View<br>All My<br>skills</p>
    </div>
    <div class="box4 box" [routerLink]="['/contact']">
      <i class="fas fa-folder"></i>
      <p class="hover2">Contact</p>
      <p class="hover-text">View<br>All My<br>Contact</p>
    </div>
    <div class="box5 box" [routerLink]="['/projects']">
      <i class="fas fa-folder"></i>
      <p class="hover2">My Work</p>
      <p class="hover-text">View<br>All My<br>Works <i class="fas fa-arrow-right"></i></p>
    </div>
  </div>
  
  