
<section class="projects animate__animated animate__slideInDown" id="projects">

               <h1 class="title"><a href="/home"><i class="fas fa-arrow-left"></i></a>  Projects</h1>

                <div class="container_projects">

                    <div class="project_card">
                        <div class="container_title">
                            <h2 class="title-card">Automobile dealership</h2>
                        </div>
                        <img class="project_card_img img-fluid" src="assets/images/concesionariad.png" alt="Imagen Proyecto">
                        <div class="container_buttons">
                            <a href="https://github.com/Nahuel409/Concesionaria" target="_blank" class="buttons"><i class="fa-brands fa-github"></i> GitHub</a>
                            <a href="" target="_blank" class="buttons"><i class="fa-solid fa-rocket"></i> Demo</a>
                        </div>

                        <div class="container_description">
                            <p>A desktop application CRUD (Create, Read, Update, Delete) that allows for performing operations from a desktop app to a database.</p>
                        </div>

                        <div class="container_tecnologies">
                            <ul>
                                <li><img src="assets/images/netbeans.png" alt="Logo"></li>
                                <li><img src="assets/images/mysql.png" alt="Logo"></li>
                                <li><img src="assets/images/java.png" id="img-java" alt="Logo"></li>
                            </ul>
                        </div>

                    </div>

                    <div class="project_card">
                        <div class="container_title">
                            <h2 class="title-card">Trailer website</h2>
                        </div>
                        <img class="project_card_img img-fluid" src="assets/images/web-trailers.png" alt="Imagen Proyecto">
                        <div class="container_buttons">
                            <a href="https://github.com/Nahuel409/Web-Trailers" target="_blank" class="buttons"><i class="fa-brands fa-github"></i> GitHub</a>
                            <a href="" target="_blank" class="buttons"><i class="fa-solid fa-rocket"></i> Demo</a>
                        </div>

                         <div class="container_description">
                            <p>The movie exploration platform built with Java, JDBC, Hibernate, Thymeleaf, and Spring, offers movie details including synopsis, release date, genre and trailer.</p>
                        </div>

                        <div class="container_tecnologies">
                            <ul>
                                <li><img src="../../../assets/images/sprinboot.png" alt="Logo"></li>
                                <li><img src="../../../assets/images/hibernate.png" alt="Logo"></li>
                                <li><img src="../../../assets/images/java.png" alt="Logo"></li>
                            </ul>
                        </div>


                    </div>

                    <div class="project_card">
                        <div class="container_title">
                            <h2 class="title-card">Editable Online Portfolio</h2>
                        </div>
                        <img class="project_card_img img-fluid" src="../../../assets/images/portfolio-cover.png" alt="Imagen Proyecto">
                        <div class="container_buttons">
                            <a href="https://github.com/Nahuel409/PortfolioBack" target="_blank" class="buttons"><i class="fa-brands fa-github"></i> GitHub</a>
                            <a href="" target="_blank" class="buttons"><i class="fa-solid fa-rocket"></i> Demo</a>
                        </div>

                         <div class="container_description">
                            <p>An editable portfolio platform built with Angular, Spring, and MySQL. Users can manage their personal information through a user-friendly interface, which is stored in a database and accessed through a Spring API.</p>
                        </div>

                        <div class="container_tecnologies">
                            <ul>
                                <li><img src="assets/images/angular1.png" alt="Logo"></li>
                                <li><img src="assets/images/sprinboot.png" alt="Logo"></li>
                                <li><img src="assets/images/mysql.png" alt="Logo"></li>
                            </ul>
                        </div>


                    </div>


                </div>
        
            </section>