
<section class="projects animate__animated animate__slideInDown" id="projects">

               <h1 class="title"><a href="/home"><i class="fas fa-arrow-left"></i></a>  Projects</h1>

                <div class="container_projects">

                    <div class="project_card">
                        <div class="container_title">
                            <h2 class="title-card">Automobile dealership</h2>
                        </div>
                        <img class="project_card_img img-fluid" src="assets/images/concesionaria.png" alt="Imagen Proyecto">
                        <div class="container_buttons">
                            <a href="https://github.com/Nahuel409/Concesionaria" target="_blank" class="buttons"><i class="fa-brands fa-github"></i> GitHub</a>
                            <a href="" target="_blank" class="buttons"><i class="fa-solid fa-rocket"></i> Demo</a>
                        </div>

                        <div class="container_description">
                            <p>A desktop application CRUD (Create, Read, Update, Delete) that allows for performing operations from a desktop app to a database.</p>
                        </div>

                        <div class="container_tecnologies">
                            <ul>
                                <li><img src="assets/images/netbeans.png" alt="Logo"></li>
                                <li><img src="assets/images/mysql.png" alt="Logo"></li>
                                <li><img src="assets/images/java.png" id="img-java" alt="Logo"></li>
                            </ul>
                        </div>

                    </div>

                    <div class="project_card">
                        <div class="container_title">
                            <h2 class="title-card">Aplicacion Concesionaria</h2>
                        </div>
                        <img class="project_card_img" src="" alt="Imagen Proyecto">
                        <div class="container_buttons">
                            <a href="" target="_blank" class="buttons"><i class="fa-brands fa-github"></i> GitHub</a>
                            <a href="" target="_blank" class="buttons"><i class="fa-solid fa-rocket"></i> Demo</a>
                        </div>

                         <div class="container_description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. periam earum quibusdam vero, tempore atque molestias quia debitis ipsum assumenda?</p>
                        </div>

                        <div class="container_tecnologies">
                            <ul>
                                <li><img src="assets/images/logo-html-black.png" alt="HTML Logo"></li>
                                <li><img src="assets/images/logo-css-black.png" alt="CSS Logo"></li>
                                <li><img src="assets/images/logo-js-black.png" alt="JS Logo"></li>
                            </ul>
                        </div>


                    </div>

                    <div class="project_card">
                        <div class="container_title">
                            <h2 class="title-card">Aplicacion Concesionaria</h2>
                        </div>
                        <img class="project_card_img" src="" alt="Imagen Proyecto">
                        <div class="container_buttons">
                            <a href="" target="_blank" class="buttons"><i class="fa-brands fa-github"></i> GitHub</a>
                            <a href="" target="_blank" class="buttons"><i class="fa-solid fa-rocket"></i> Demo</a>
                        </div>

                         <div class="container_description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. periam earum quibusdam vero, tempore atque molestias quia debitis ipsum assumenda?</p>
                        </div>

                        <div class="container_tecnologies">
                            <ul>
                                <li><img src="assets/images/logo-html-black.png" alt="HTML Logo"></li>
                                <li><img src="assets/images/logo-css-black.png" alt="CSS Logo"></li>
                                <li><img src="assets/images/logo-js-black.png" alt="JS Logo"></li>
                            </ul>
                        </div>


                    </div>


                </div>
        
            </section>