<section class="experiencia-profesional animate__animated animate__slideInDown">
	<h2>All Work</h2>

	<div class="experiencia">
		<div class="experiencia-link">
			<h4>Api Market</h4>
			<p>Api CRUD de supermercado, con usuario para las compras y cargas de productos</p>
			<div class="experiencia-btns">.
				<a class="btn-izq" href="#">Repository</a>
				<a class="btn-der" href="">Demo</a>
			</div>
		</div>
		<img class="img-experiencia img-fluid" src="assets/inti.png" alt="imagen-proyecto">
	</div>

	<div class="experiencia">
		<div class="experiencia-link">
			<h4>Juego creado con HTML y JavaScript</h4>
			<p>Challenge Oracle</p>
			<div class="experiencia-btns">
				<a class="btn-izq" href="#">Repository</a>
				<a class="btn-der" href="#">Demo</a>
			</div>
		</div>
		<img class="img-experiencia img-fluid" src="assets/inti.png" alt="imagen-proyecto">
	</div>
</section>
