<!-- About Section Start-->
<section class="about-section sec-padding" id="sobre">
    <div class="container animate__animated animate__zoomIn">
        <div class="row">
            <div class="section-title">
                <h2>who I am..</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-img">
                <div class="img-box">
                    <img src="assets/Diegovillan-logo.png" alt="about img">
                </div>
            </div>
            <div class="about-text">
                <p>
                   Hello my name is Diego Villan and I am from Santa Fe, Argentina. I am a full-stack programmer with a focus on the backend using Java.

I am passionate about learning about technology and related topics. In my free time, I enjoy playing and watching sports, especially basketball and soccer.

As a professional, I am dedicated to constantly improving my skills and staying up-to-date with the latest advancements in my field. I like to solve problems and learn from people with more experience to improve my profile.

Thank you for your time and consideration. I look forward to the opportunity to demonstrate my skills and contribute to your projects
                </p>
                <h3>Networks</h3>
                <div class="skills">
                    <div class="skill-item"><a href="https://www.linkedin.com/in/diegovillan/" target="_blank">LinkedIn</a></div>
                    <div class="skill-item"><a href="https://github.com/Nahuel81" target="_blank">Github</a></div>
                    <div class="skill-item"><a href="https://twitter.com/Villandie" target="_blank">Twitter</a></div>
                </div>
            </div>
        </div>
    </div>
</section>